repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.8.0
  hooks:
  - id: pyupgrade
- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    args: ["--max-line-length", "88", "--extend-ignore", "E501,E203"]
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    args: ["--profile", "black"]
